@model TestLuisDonoso.Models.Usuario

@{
    Layout = "~/Views/Shared/Entrada.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login","Login", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                        <div class="col-lg-4 col-md-2">
                        </div>

                        <div class="col-lg-4 col-md-8">
                            <div class="panel rounded shadow shadow-sm">
                                <div class="panel-heading">
                                    <h3 class="mb-0">Inicio de Sesión</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="UserName">Usuario</label>
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-lg rounded-0", required = "required", placeholder = "USUARIO" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Contraseña</label>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg rounded-0", required = "required", type = "password", placeholder = "CONTRASEÑA" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                    </div>
                                    
                                    <button type="submit" class="float-right btn btn-success btn-lg " id="btnLogin">Ingresar</button>
                                    
                                    @Html.ActionLink("Nuevo Usuario", "Create", "Usuario")

                                    <div class="text-center text-danger">
                                        @if(ViewBag.Message != null)
                                        {
                                            <label>@ViewBag.Message.ToString()</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    if (TempData["Message"] != null)
    {
        <script>
        </script>
    }

}




